﻿@model IEnumerable<Jutarnji.Models.Entry>
<div id="entriesList">
        @foreach (var item in Model)
        {
            <div class="panel">
                <header class="panel-heading">
                    <div class="text-left">
                        <div class="row">
                            <div class="col-sm-9">
                                <a href="@item.Link" target="_blank">
                                    <h3 class="pull-left">@Html.DisplayFor(modelItem => item.Title)</h3>
                                </a>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                    <small><em>@Html.DisplayFor(modelItem => item.Published)</em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="panel-body">
                    @Html.DisplayFor(modelItem => item.Summary) <a href="@item.Link" target="_blank">Pročitaj više...</a>
                </div>

                <footer class="panel-footer">
                    @foreach (var cat in item.Categories)
                    {
                        <a href="http://www.jutarnji.hr/tag/@cat.Replace(' ', '_')" target="_blank"><span class="label label-default">@cat</span></a>
                    }
                </footer>
            </div>

        }
</div>